*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: 'Noto sans TC',sans-serif;
}

p.redred{
    background-color: black;
    color: white;
    border: 20px solid;
    border-color:rgb(92,131,182)
    background-image: url(../assets/img/IMG_3455.jpeg);
    font-size:40px;
    text-align: center;
    font-family: 'Noto Serif TC', sans-serif;
    letter-spacing: 0.8px;
    line-height: 1.5em;

}

.bg-primary{
    background-color: pink!important;
    background-image: url(../assets/img/ğ–‚ğ–†ğ–‘ğ–‘ğ–•ğ–†ğ–•ğ–Šğ–—\ -\ ğ•±ğ–—ğ–”ğ–’_\ ğ–‚ğ–Šğ–ğ–‡ğ–”.jpg);
}
    

.blueblue{
    color:#326cad ;
}

.expedu_icon{
    color: blue;
}

.expedu_icon:hover{
    background-color: blue;
    color: white
}

table {
    width: 80%;
    }

    th{
        text-align: center;
        }
        td {
        text-align: justify;
        }  

        tr:nth-child(even) {
            background-color:antiquewhite;
            }
            tr:nth-child(odd) {
            background-color: paleturquoise ;
            }

            td {
                border:1px solid #2a5d44;
                }

                table {
                    border-collapse: separate;
                    } 